<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="XMLRefactoringParticipant" name="XML Refactoring Participant" schema="schema/XMLRefactoringParticipant.exsd"/>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="Prototipo.viewerContribution2"
            targetID="org.eclipse.wst.xsd.ui.popup.graph">
         <menu
               id="Prototipo.refactoringMenu"
               label="XSD Refactor"
               path="org.eclipse.wst.xsd.ui.refactoring.menu.refactorGroup.object">
            <separator
                  name="Prototipo.separator1">
            </separator>
         </menu>
         <action
               class="prototipo.plugin.RenameAction"
               id="Prototipo.rename"
               label="Rename"
               menubarPath="org.eclipse.wst.xsd.ui.refactoring.menu.refactorGroup.object">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="prototipo.plugin.XSLTRenameParticipant"
            id="prototipo.plugin.XSLTRenameParticipant"
            name="XSLTRenameParticipant">
      </renameParticipant>
   </extension>

</plugin>
