<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="Prototipo.viewerContribution2"
            targetID="org.eclipse.wst.xsd.ui.popup.graph">
         <menu
               id="Prototipo.refactoringMenu"
               label="XSD Refactor"
               path="additions">
            <separator
                  name="Prototipo.separator1">
            </separator>
         </menu>
         <action
               class="prototipo.plugin.RenameAction"
               id="Prototipo.rename"
               label="Rename"
               menubarPath="Prototipo.refactoringMenu/separator1">
         </action>
      </viewerContribution>
   </extension>

</plugin>
