<?xml version="1.0" encoding="iso-8859-1"?>

<xsl:stylesheet 
		xmlns:xsl="http://www.w3.org/1999/XSL/Transform"
		version="2.0">
<xsl:output indent="yes"/>

<xsl:strip-space elements="*"/>
<xsl:template match="*">
    <xsl:copy>
        <xsl:copy-of select="@*"/>
        <xsl:apply-templates />
    </xsl:copy>
</xsl:template>

#foreach( $path in $paths )
	<xsl:template match="/#foreach( $elem in $path )/element()[(namespace-uri(.)='$elem.getNamespaceURI()')and(local-name(.)='$elem.getLocalPart()')]#end">
		<xsl:copy-of select="@*|node()[not((namespace-uri()='$removingElement.getNamespaceURI()') and (local-name() ='$removingElement.getLocalPart()'))]"/>
		<xsl:apply-templates/>
</xsl:template>
#end

</xls:stylesheet>
