<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="XMLRefactoringParticipant" name="XML Refactoring Participant" schema="schema/XMLRefactoringParticipant.exsd"/>
   <extension
         id="XMLRefactoringMenu"
         name="XML Refactoring Menu"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="XMLRefactoring.XSDEditor"
            targetID="org.eclipse.wst.xsd.ui.popup.graph">
         <menu
               id="XMLRefactoring.RefactoringMenu"
               label="XML Refactor"
               path="refactoring-slot">
            <groupMarker
                  name="XMLRefactoring.group1">
            </groupMarker>
         </menu>
         <action
               class="xmlrefactoring.plugin.ui.rename.RenameAction"
               id="XMLRefactoring.RenameAction"
               label="Rename"
               menubarPath="XMLRefactoring.RefactoringMenu/group1">
         </action>
         <action
               class="xmlrefactoring.plugin.ui.attr2elem.Attr2ElemAction"
               id="XMLRefactoring.Attr2ElemAction"
               label="Transform into element"
               menubarPath="XMLRefactoring.RefactoringMenu/group1">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="XMLRefactoring.ApplyChanges"
            nameFilter="*.xsd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="xmlrefactoring.applyChanges.ui.ApplyChanges2XMLAction"
               enablesFor="1"
               id="XMLRefactoring.AppyChanges2XMLAction"
               label="Apply Changes to XML"
               menubarPath="refactor-slot">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="XMLRefactoring.ChangeVersion"
            nameFilter="*.xsd"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="xmlrefactoring.changeVersion.ui.ChangeVersionAction"
               enablesFor="1"
               id="XMLRefactoring.ChangeVersionAction"
               label="Change Version"
               menubarPath="refactor-slot">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="xmlrefactoring.plugin.logic.rename.XSLTRenameParticipant"
            id="XMLRefactoring.XSLTRenameParticipant"
            name="XSLT Rename Participant">
         <enablement></enablement>
      </renameParticipant>
   </extension>
   <extension
         point="XMLRefactoring.XMLRefactoringParticipant">
      <Participant
            Class="xmlrefactoring.plugin.logic.attr2elem.XSDAttr2ElemParticipant"
            class="xmlrefactoring.plugin.logic.attr2elem.XSDAttr2ElemParticipant"
            id="XSDAttr2ElemParticipant"
            name="Attribute transformation into element refactoring schema participant">
         <enablement>
            enablement body text
         </enablement>
      </Participant>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <group
            id="XMLRefactoring.group"
            separatorsVisible="true">
      </group>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="XML Refactoring">
            <command
                  commandId="XMLRefactoring.Versioning"
                  id="XMLRefactoring.Versioning"
                  label="XML Versioning"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="xmlrefactoring.applyChanges.ui.ApplyChanges2XMLHandler"
            commandId="XMLRefactoring.Versioning">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="XMLRefactoring.Versioning"
            name="XML Versioning">
      </command>
   </extension>

</plugin>
